<head>
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
</head>

<div class="content">
  <h3 class="heading"><%= @event.title %></h3>
  <h3><a href="/<%= @event.id %>/rsvp">RSVP</a></h3>
  <br>
  	<div>
  	  <h5>LOCATION: <%= @event.location %></h5>
  	  <h5>DATE: <%= @event.event_date %></h5>
  	  <h5>START: <%= @event.start_time %></h5>
  	  <h5>END: <%= @event.end_time %></h5>
  	</div>
    <div>
      <% if @event.creator == session[:id] %>
        <form action="/events/<%= @event.id %>" method="post">
          <input id="hidden" type="hidden" name="_method" value="PATCH">
          <input type="submit" value="Edit">
        <form action="/events/<%= @event.id %>" method="post">
           <input id="hidden" type="hidden" name="_method" value="DELETE">
           <input type="submit" value="Delete">
        </form>
      <% end %>
    </div>
  <a href="/logout">Logout</a>
</div>



