<div class="col-1">
  <h3 class="title">Update Event</h3>
  <form action="/events/<%= @event.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <label>Name:</label>
      <input type="text" name="event[title]" id="event_title" value="<%= @event.title %>">
      <br>
    <label>Location:</label>
      <input type="text" name="event[location]" id="event_location" value="<%= @event.location %>">
      <br>
    <label>Date:</label>
      <input type="date" name="event[event_date]" id="event_date" value="<%= @event.event_date %>">
      <br>
    <label>Start:</label>
      <input type="string" name="event[start_time]" id="event_start" value="<%= @event.start_time %>">
      <br>
    <label>End:</label>
      <input type="string" name="event[end_time]" id="event_end" value="<%= @event.end_time %>">
    <textarea name="event[description]" id="description" rows="10" cols ="50"><%= @event.description %></textarea>
      <br>
    <input type="submit" value="Update" class="submit-button">
  </form>
</div>
