<div class="col-1">
    <% date = @event.event_date %>
    <h4><%= date.strftime('%A, %B %d, %Y') %></h4>
    <h2><%= @event.title %></h2>
      <p class="created-by">
          <% if @event.creator_id == session[:id] %>
            Submitted by Me
          <% else %>
            Submitted by <%= @event.creator.name %>
          <% end %>
      </p>
    <div class="event-details">
      <p class="attr">Location: <%= @event.location %></p>
      <p class="attr">Start: <%= @event.start_time %></p>
      <p class="attr">End: <%= @event.end_time %></p>
      <br>
      <div class="description">
        <p class="attr">Description:</p>
          <p><%= @event.description %></p>
      </div>
    </div>     
  </div>

  <div class="col-2">
    <div class="rsvp-response">
      <% rsvp = Rsvp.find_by("user_id" => @user.id, "event_id" => @event.id) %>
      <% if rsvp %>
        <h3>See you there!</h3>
          <form action="/rsvp/<%= @event.id %>/delete" method="POST">
            <input id="hidden" type="hidden" name="_method" value="DELETE"> 
              <input type="submit" value="Remove from my events" class="remove">
          </form>
        <% else %>
            <h4>Are you going?</h4>
            <form action="/rsvp/<%= @event.id %>" method="POST">
                <input type="submit" name="yes" value="Yes I'll be there" class="add">
                <input type="submit" name="no" value="No thanks" class="remove">
          </form>
      <% end %>
      <br>
      <% @rsvps.each do |el| %>
        <% if el.event_id == @event.id %>
          <% @total_attending << el %>
        <% end %>
      <% end %>
          <p>
            <% if (@total_attending.size == 1) && (@new_rsvp != nil) %>
              <p>You are the first to RSVP!</p>
            <% elsif (@total_attending.size == 1) && (@new_rsvp == nil) %>
              <p>1 person is attending.</p>
            <% elsif (@total_attending.size >= 2) && (@new_rsvp == nil) %>
              <p><%= @total_attending.size %> people are attending.</p>
            <% elsif (@total_attending.size == 2) && (@new_rsvp != nil) %>
              <p>You and <%= (@total_attending.size)-1.to_i %> other person are attending.</p>
            <% elsif (@total_attending.size > 2) && (@new_rsvp != nil) %>
              <p>You and <%= (@total_attending.size)-1 %> other people are attending.</p>
            <% end %>
          </p>
    </div>
    <!-- if user created this event -->
    <div class="modify-event">
    <% if @event.creator_id == session[:id] %>
      <form action="/events/<%= @event.id %>/edit" method="GET">
        <input type="submit" value="Edit Details" class="submit">
      </form>
      <form action="/events/<%= @event.id %>/delete" method="POST">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Event">
      </form>
    <% end %>
    </div>
  </div>

  <div class="col-3">
      <a href="/events">More Events</a>
</div>

